# Get a free Client ID at https://console.cloud.google.com/apis/credentials
# (Create Credentials -> OAuth client ID -> Web application, add
# http://localhost:5173 as an Authorized JavaScript origin)
# Leave empty to disable the "Sign in with Google" button.
VITE_GOOGLE_CLIENT_ID=""
